*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    /* width: 100vw;
    height: 100vh; */
    padding: 0 5%;
}

.logo {
    font-size: 2.5rem;
    font-family: 'Fascinate', cursive;
    color: turquoise;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 1.3rem;
    padding: 15px;
    color: purple;
    font-family: 'Fredoka One', cursive;
}

nav a:hover {
    color: #8FD0D6;
    text-decoration: underline;
    transition: all 0.3s ease;
}

.bubble-container,
.fruit-choice,
.lime-juice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 3rem;
    gap: 3rem;
    margin-top: 2.5rem;
}

.bubble-left-col,
.bubble-right-col,
.fruit-choice-left,
.fruit-choice-right,
.lime-left-col,
.lime-right-col {
    flex-basis: 50%;
}

.bubble-right-col>img {
    width: 650px;
    max-width: 100%;
}

.bubble-left-col,
.fruit-choice-left {
    width: 550px;
    max-width: 100%;
}

.bubble-left-col h1,
.fruit-choice-left h1,
.lime-right-col h1 {
    font-size: 60px;
    font-family: 'Fredoka One', cursive;
    color: #FF5B7E;
}

.bubble-left-col p,
.fruit-choice-left p,
.lime-right-col p {
    font-size: 1.3rem;
    font-weight: bolder;
    line-height: 1.6;
    font-family: 'Courgette', cursive, Arial, Helvetica, sans-serif;
    color: #FEB546;
}

.btn {
    display: block;
    text-decoration: none;
    color: white;
    width: 200px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
    background-color: #8FD0D6;
}

.btn span {
    display: none;
}

.btn:hover span {
    display: inline;
    animation: moveArrow 0.35s linear forwards;
}

.fruit-choice-right>img,
.lime-left-col>img {
    width: 550px;
    max-width: 100%;
}

.lime-right-col {
    text-align: right;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;
    gap: 2rem;
    margin: 4rem 0;
}

.menu .image {
    display: block;
    padding: 10px;
    box-shadow: 0 0 8px 4px #eee;
    transition: all 0.4s ease;
}

.menu .image:hover {
    box-shadow: 0 0 18px 6px rgba(213, 212, 212, 0.821);
}

.menu img {
    width: 200px;
    max-width: 100%;
}

.header {
    font-size: 60px;
    font-family: 'Fredoka One', cursive;
    color: #AED742;
    margin-top: 10rem;
    text-align: center;
    padding: 10px;
    border-right: 6px dashed;
    border-left: 6px dashed;
    border-top: 6px dotted;
    border-bottom: 6px dotted;
}

@keyframes moveArrow {
    0% {
        opacity: 0;
        margin-left: 0;
    }
    100% {
        opacity: 1;
        margin-left: 1rem;
    }
}

.icons {
    margin-top: 50px;
}

.icons a {
    font-size: 2rem;
    padding: 0 15px;
    color: black;
}

@media screen and (max-width: 720px) {
    nav {
        flex-direction: column;
        text-align: center;
    }
    nav a {
        display: block;
    }
    nav a+a {
        border-top: 1px solid #8FD0D6;
    }
    .bubble-container {
        flex-direction: column;
        text-align: center;
    }
    .bubble-left-col h1 {
        font-size: 30px;
    }
    .bubble-left-col p {
        font-size: 1rem;
    }
    .btn {
        margin: 0 auto;
        width: 150px;
        font-size: 1rem;
    }
}