*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0 5%;
}

.logo {
    font-size: 2.5rem;
    font-family: 'Fascinate', cursive;
    color: turquoise;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 1.3rem;
    padding: 15px;
    color: purple;
    font-family: 'Fredoka One', cursive;
}

nav a:hover {
    color: #8FD0D6;
    text-decoration: underline;
    transition: all 0.3s ease;
}

.bubble-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bubble-left-col,
.bubble-right-col {
    flex-basis: 50%;
}

.bubble-right-col>img {
    width: 650px;
    max-width: 100%;
}

.bubble-left-col {
    width: 550px;
    max-width: 100%;
}

.bubble-left-col h1 {
    font-size: 60px;
    font-family: 'Fredoka One', cursive;
    color: #FF5B7E;
}

.bubble-left-col p {
    font-size: 1.3rem;
    font-weight: bolder;
    line-height: 1.6;
    font-family: 'Courgette', cursive, Arial, Helvetica, sans-serif;
    color: #FEB546;
}

.btn {
    display: block;
    text-decoration: none;
    color: white;
    width: 200px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
    background-color: #8FD0D6;
}

.btn span {
    display: none;
}

.btn:hover span {
    display: inline;
    animation: moveArrow 0.35s linear forwards;
}

@keyframes moveArrow {
    0% {
        opacity: 0;
        margin-left: 0;
    }
    100% {
        opacity: 1;
        margin-left: 1rem;
    }
}

.icons {
    margin-top: 50px;
}

.icons a {
    font-size: 2rem;
    padding: 0 15px;
    color: black;
}

@media screen and (max-width: 720px) {
    nav {
        flex-direction: column;
        text-align: center;
    }
    nav a {
        display: block;
    }
    nav a+a {
        border-top: 1px solid #8FD0D6;
    }
    .bubble-container {
        flex-direction: column;
        text-align: center;
    }
    .bubble-left-col h1 {
        font-size: 30px;
    }
    .bubble-left-col p {
        font-size: 1rem;
    }
    .btn {
        margin: 0 auto;
        width: 150px;
        font-size: 1rem;
    }
}